<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Doctors</h1>
        <hr><br><br>
        <div>
          <b-alert variant="success" v-if="showMessage" show>{{ message }}</b-alert>
          <br>
        </div>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.doctor-modal>Add a new Doctor</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Last Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(doctors, index) in doctors" :key="index">
              <td>{{ doctors.idDoctor }}</td>
              <td>{{ doctors.Name }}</td>
              <td>{{ doctors.LastName }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-warning btn-sm" v-b-modal.doctor-update-modal @click="editDoctor(doctors)">Update</button>
                  <button type="button" class="btn btn-danger btn-sm" @click="onDeleteDoctor(doctors)">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addDoctorModal"
        id="doctor-modal"
        title="Add a new Doctor"
        hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
      <b-form-group id="form-name-group"
            label="Name:"
            label-for="form-name-input">
          <b-form-input id="form-name-input"
              type="text"
              v-model="addDoctorForm.Name"
              required
              placeholder="Enter name">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-lastName-group"
            label="Last Name:"
            label-for="form-lastName-input">
          <b-form-input id="form-lastName-input"
              type="text"
              v-model="addDoctorForm.LastName"
              required
              placeholder="Enter last name">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editDoctorModal"
      id="doctor-update-modal"
      title="Update"
      hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-name-edit-group"
        label="Name:"
        label-for="form-name-edit-input">
        <b-form-input id="form-name-edit-input"
          type="text"
          v-model="editForm.Name"
          required
          placeholder="Enter Name">
        </b-form-input>
        </b-form-group>
        <b-form-group id="form-lastName-edit-group"
          label="Last Name:"
          label-for="form-lastName-edit-input">
          <b-form-input id="form-lastName-edit-input"
            type="text"
            v-model="editForm.LastName"
            required
            placeholder="Enter last Name">
          </b-form-input>
          </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>         
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'Doctors',
    data() {
      return {
        doctors: [],
        addDoctorForm: {
          Name: '',
          LastName: '',
        },
        editForm: {
          idDoctor: '',
          Name: '',
          LastName: '',
        },
        message: '',
        showMessage: false,
      };
    },
    methods: {
      getDoctors() {
        const path = '/doctors';
        axios.get(path)
          .then((res) => {
            this.doctors = res.data.doctors;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          });
      },
      addDoctor(payload){
        const path = '/doctors';
        axios.post(path, payload)
          .then(() => {
            this.getDoctors();
            this.message = 'Doctor added!';
            this.showMessage = true;
          })
          .catch((error) => {
            //eslint-disable-next-lint
            console.log(error);
            this.getDoctors();
          })
      },
      removeDoctor(doctorID) {
        const path = `/doctors/${doctorID}`
        axios.delete(path)
        .then(() => {
          this.getDoctors();
          this.message = 'Book removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getDoctors();
        });
      },
      onDeleteDoctor(doctor) {
        this.removeDoctor(doctor.idDoctor)
      },
      editDoctor(doctor){
        this.editForm = doctor;
      },
      initForm(){
        this.addDoctorForm.Name = '';
        this.addDoctorForm.LastName = '';
        this.editForm.idDoctor = '';
        this.editForm.Name = '';
        this.editForm.LastName = '';
      },
      onSubmit(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        //let read = false;
        //if (this.addDoctorForm.read[0]) read = true;
        const payload = {
          Name: this.addDoctorForm.Name,
          LastName: this.addDoctorForm.LastName,
          //read,
        };
        this.addDoctor(payload);
        this.initForm();
      },
      onSubmitUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        //let read = false;
        //if (this.editForm.read[0]) read = true;
        const payload = {
          Name: this.editForm.Name,
          LastName: this.editForm.LastName,
          //read,
        };
        this.updateBook(payload, this.editForm.idDoctor);
      },
      onReset(evt){
        evt.preventDefault();
        this.$refs.addDoctorModal.hide();
        this.initForm();
      },
      updateBook(payload, doctorID) {
        const path = `/doctors/${doctorID}`;
        axios.put(path, payload)
          .then(() => {
            this.getDoctors();
            this.message = 'Book updated!';
            this.showMessage = true;
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.getDoctors();
          });
      },  
      onResetUpdate(evt) {
        evt.preventDefault();
        this.$refs.editDoctorModal.hide();
        this.initForm();
        this.getBooks(); // why?
      },
    },
    created() {
      this.getDoctors();
    },
  };
</script>
